{% load i18n static %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/forms.css" %}">
{% endblock %}

{% if cl.search_fields %}
<div class="card card-body border-0 shadow-sm p-3 mb-3">
    <form id="changelist-search" method="get">
        <div class="row align-items-center g-2">
            <div class="col-12 col-md-8">
                <div class="input-group">
                    <span class="input-group-text bg-white border-end-0 px-3">
                        <i class="bi bi-search fs-5"></i>
                    </span>
                    <input type="text" class="form-control border-start-0" name="{{ search_var }}" value="{{ cl.query }}" id="searchbar" placeholder="{% trans 'Search' %}">
                    <button class="btn btn-primary px-4" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
            <div class="col-12 col-md-4 mt-2 mt-md-0">
                <div class="form-group mb-0">
                    {% if show_result_count %}
                        <span class="small quiet">
                            {% blocktrans count counter=cl.result_count %}
                                {{ counter }} kết quả
                            {% plural %}
                                {{ counter }} kết quả
                            {% endblocktrans %} (<a
                                href="?{% if cl.is_popup %}_popup=1{% endif %}">{% if cl.show_full_result_count %}
                            {% blocktrans with full_result_count=cl.full_result_count %}
                                {{ full_result_count }} tổng
                            {% endblocktrans %}
                        {% else %}
                            {% trans "Hiện tất cả" %}
                        {% endif %}</a>)
                        </span>
                    {% endif %}
                    {% for pair in cl.params.items %}
                        {% if pair.0 != search_var %}
                            <input type="hidden" name="{{ pair.0 }}" value="{{ pair.1 }}">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endif %}
